NEXT_PUBLIC_REOWN_PROJECT_ID=your_reown_project_id
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_PACIFICA_API_URL=https://test-api.pacifica.fi/api/v1
NEXT_PUBLIC_ELFA_API_KEY=your_elfa_api_key_here
NEXT_PUBLIC_USDP_MINT=USDPqRbLidFGufty2s3oizmDEKdqx7ePTqzDMbf5ZKM
NEXT_PUBLIC_BACKEND_WALLET=your_backend_wallet_public_key
